*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

nav{
    background-color: black;
    height: 11vh;
    width: 100vw;
    font-size: 7vh;
    flex-wrap: wrap;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black ;
    font-size: 1.1em;
    height: 10vh;
    text-align: center;
}

#bulb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    margin-top: 10vh;
    margin-left: 37vw;
    border-radius: 50%;
    border: 4px solid black   
}

button{
    font-size: large;
    padding: 3vh 2vw;
    margin-top: 3vw;
    margin-left: 47vw;
}

